/*----------------- Style for account.html template ----------------------- */
.account-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.account-image {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
}

.account-title {
    margin-top: 1.5rem;
}

.account-img {
    height: 125px;
    width: 125px;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 16px;
}