/*  Style for forms: login.html, new_post.html, register.html, reset_password.html, reset_request.html, update_post.html  */
.form-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(200, 200, 200);
    border-radius: 5px;
}