/* ----------------------- LIST OF POSTS --------------------------- */
.post {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(200, 200, 200);
  border-radius: 5px;
}

.post h5 {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.post p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.post-link {
  color: rgb(100,100,100);
}

.post-link:hover {
  text-decoration: none;
  color: #17a2b8 !important;
}

.post hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.date-author-line {
  font-size: 0.9rem;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: pre-line;
}

.button {
    margin-top: 1rem;
}

.button:hover {
    color: rgb(255, 255, 255);
}

.wrapper {
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: middle;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: table-cell;
}

