/* ----------------------- SINGLE POST --------------------------- */
/* -------------Style used in post.html -------------------------- */
.post-single {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(200, 200, 200);
    border-radius: 5px;
}

.post-content {
    margin-top: 1rem;
}

.picture-wrapper {
    width: 100%;
}

.row-meta {
    height: 50%;
}

.row-meta p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.change-buttons {
    height: 4rem;
}

.change-buttons a, .change-buttons button {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-single hr {
    margin-top: 0.5rem;
}

.post-text {
    padding: 1rem;
}

.post-text h5 {
    padding-bottom: 0.6rem;
}

.post-text p {
    font-size: 1rem;
}

.profile-image-column {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    margin-left: 0.5rem;
}

.content-column {
    margin-right: 1rem;
}

.post-account-img {
    width: 75px;
    height: 75px;
    border: 1px solid rgb(200, 200, 200);
    padding: 3px;
}

.author-link {
    color: rgb(100,100,100);
}

.author-link:hover {
    text-decoration: none;
    color: #17a2b8 !important;
}

.post-text p {
    white-space: break-spaces;
    text-align: justify;
    text-align-last: left;
    -webkit-text-align-last: left;
    -moz-text-align-last: left;
    -ms-text-align-last: left;
    -o-text-align-last: left;
}