<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link type="text/css" rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

	<!-- Fontawesome -->
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css" />

	<!-- Custom CSS -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/hover-effect.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base-style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/post-style.css') }}" />

    <!-- Dynamic page title -->
	{% if title %}
	<title>FlyHigh Blog - {{ title }}</title>
	{% else %}
	<title>FlyHigh Blog</title>
	{% endif %}

	<!-- Favicon -->
	<link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" />
</head>

<body>
    <!-- Header with Navbar -->
	<header class="site-header">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
			<div class="container">
				<a class="navbar-brand"
					href="{{ url_for('index') }}"><span class="logo"><i class="fas fa-paper-plane"></i></span>
					FlyHigh</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			                <span class="navbar-toggler-icon"></span>
			            </button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item">
							<a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'home' else 'hvr-underline-from-left' }}"
								href="{{ url_for('index') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'about' else 'hvr-underline-from-left' }}"
								href="{{ url_for('about') }}">About</a>
						</li>
					</ul>
					<ul class="navbar-nav mt-2 mt-lg-0">
						<!-- Displaying links corresponding to user status (authenticated/logged out) -->
                        {% if 'user_id' in session %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'new_post' else 'hvr-underline-from-left' }}" href="{{ url_for('new_post') }}">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'account' else 'hvr-underline-from-left' }}" href="{{ url_for('account') }}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ 'hvr-underline-from-left' }}" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'login' else 'hvr-underline-from-left' }}" href="{{ url_for('login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ 'hvr-underline-from-left-active' if active_page == 'register' else 'hvr-underline-from-left' }}" href="{{ url_for('register') }}">Register</a>
                            </li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <!-- Hero Image -->
	<div id="hero-image" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Aviation Blog</h1>
            <hr>
			<p class="lead">The latest news and opinions.</p>
		</div>
	</div>

    <!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Displaying flash messages to provide user with guidance -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                       {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                       {% endfor %} 
                    
                    {% endif %}
                {% endwith %}
                <!-- Area where the templates are rendered -->
                {% block content %}{% endblock %}
			</div>
		</div>
	</div>

      <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span><i class="fas fa-paper-plane"></i></span> FlyHigh</h2>
                </div>

                <p>Aviation blog for enthusiasts and professionals.</p> 
                <p>The latest news and opinions.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Contact</h4>
                <p>FlyHigh.com<br>
                Navigational 787<br>
                155 00  Prague 5<br>
                Czech Republic</p>
                <p>Email: info@flyhigh.com</p>
                
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Flicker</h4>
                <div class="flicker-img">
                  <a href="https://www.flickr.com/" target="_blank"><img src="{{ url_for('static', filename='img/flicker/1.jpg') }}" alt=""></a>
                  <a href="https://www.flickr.com/" target="_blank"><img src="{{ url_for('static', filename='img/flicker/2.jpg') }}" alt=""></a>
                  <a href="https://www.flickr.com/" target="_blank"><img src="{{ url_for('static', filename='img/flicker/3.jpg') }}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <span><i class="fas fa-paper-plane"></i></span> FlyHigh. All Rights Reserved
              </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

	<!-- Bootstrap JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
	</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.1.0/dotdotdot.min.js">
	</script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/dotdotdot.js') }}">
	</script>
</body>

</html>