{% extends "base.html" %}
<!-- Defining variable for highlighting active links in navbar -->
{% set active_page = "reset_password_request" %}
{% block content %}
<div class="form-container">
	<div>
		<form method="POST" action="" novalidate>
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Request password reset</legend>
				<div class="form-group">
					<!-- Email input - label -->
					{{ form.email.label(class="form-control-label") }}
					<!-- Checking if information passed by user is valid -->
					{% if form.email.errors %}
					<!-- If information is invalid, provide user with corresponding feedback -->
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					<!-- If information is valid, allow user to submit information -->
					{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<!-- Request Password Reset button -->
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-secondary") }}
			</div>
		</form>
	</div>
	<!-- Link to register for non-registered users -->
	<div class="border-top pt-3">
		<small class="text-muted">
            Do you need an account? <a class="ml-2" href="{{ url_for('register') }}">Register</a>
        </small>
	</div>
</div>
{% endblock content %}